ERLANG_VERSION=28.3
export ERLANG_VERSION=$ERLANG_VERSION
ERLANG_MAJOR_VERSION=$(echo "$ERLANG_VERSION" | cut -d '.' -f1)

if has kerl; then
    ERLANGMK_CAP_VER="OTP-$ERLANG_VERSION"
    ERLANG_INSTALLATION="$(kerl list installations | grep $ERLANGMK_CAP_VER | cut -d' ' -f2)"
    if [ -f "$ERLANG_INSTALLATION/activate" ] ; then
        echo "Using Erlang $ERLANG_VERSION (in $ERLANG_INSTALLATION) via kerl."
        . $ERLANG_INSTALLATION/activate
    else
        echo "Erlang $ERLANG_VERSION not available. Please build it first with command \"kerl build $ERLANG_VERSION $ERLANGMK_CAP_VER && kerl install $ERLANGMK_CAP_VER  ~/erlang/$ERLANGMK_CAP_VER\" and then restart the shell"
    fi
else
    echo "kerl not available; using default system Erlang."
fi

ELIXIR_VERSION=1.19.4
export ELIXIR_VERSION=$ELIXIR_VERSION

if has kiex; then
  if kiex list|grep -q ${ELIXIR_VERSION} ; then
    . $HOME/.kiex/elixirs/elixir-${ELIXIR_VERSION}.env
  else
    echo "Elixir ${ELIXIR_VERSION} not available. Please build it first with command \"kiex install $ELIXIR_VERSION\" and then restart the shell"
  fi
else
  echo "kiex is not available; Use default system Elixir"
fi

ELIXIR_FULL_VERSION=$ELIXIR_VERSION-$ERLANG_MAJOR_VERSION
export ELIXIR_FULL_VERSION=$ELIXIR_FULL_VERSION
